<ul class="list-inline">
	{% if site.footer-links.dribbble %}
		<li>
			<a href="https://dribbble.com/{{ site.footer-links.dribbble }}" target="social">
				<i class="fa fa-dribble fa-2x"></i>
			</a>
		</li>
	{% endif %}
	{% if site.footer-links.email %}
		<li>
			<a href="mailto:{{ site.footer-links.email }}">
				<i class="fa fa-comments-o fa-2x"></i>
			</a>
		</li>
	{% endif %}
	{% if site.footer-links.facebook %}
		<li>
			<a href="https://www.facebook.com/{{ site.footer-links.facebook }}" target="social">
				<i class="fa fa-facebook-official fa-2x"></i>
			</a>
		</li>
	{% endif %}
	{% if site.footer-links.flickr %}
		<li>
			<a href="https://www.flickr.com/{{ site.footer-links.flickr }}" target="social">
				<i class="fa fa-flickr fa-2x"></i>
			</a>
		</li>
	{% endif %}
	{% if site.footer-links.github %}
		<li>
			<a href="https://github.com/{{ site.footer-links.github }}" target="social">
				<i class="fa fa-github-alt fa-2x"></i>
			</a>
		</li>
	{% endif %}
	{% if site.footer-links.instagram %}
		<li>
			<a href="https://instagram.com/{{ site.footer-links.instagram }}" target="social">
				<i class="fa fa-instagram fa-2x"></i>
			</a>
		</li>
	{% endif %}
	{% if site.footer-links.linkedin %}
		<li>
			<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" target="social">
				<i class="fa fa-linkedin fa-2x"></i>
			</a>
		</li>
	{% endif %}
	{% if site.footer-links.pinterest %}
		<li>
			<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}" target="social">
				<i class="fa fa-pinterest fa-2x"></i>
			</a>
		</li>
	{% endif %}
	{% if site.footer-links.rss %}
		<li>
			<a href="{{ site.baseurl }}/feed.xml" target="social">
				<i class="fa fa-rss fa-2x"></i>
			</a>
		</li>
	{% endif %}
	{% if site.footer-links.twitter %}
		<li>
			<a href="https://www.twitter.com/{{ site.footer-links.twitter }}" target="social">
				<i class="fa fa-twitter fa-2x"></i>
			</a>
		</li>
	{% endif %}			
	{% if site.footer-links.stackoverflow %}
		<li>
			<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}" target="social">
				<i class="fa fa-stackoverflow fa-2x"></i>
			</a>
		</li>
	{% endif %}
	{% if site.footer-links.youtube %}
		<li>
			<a href="https://youtube.com/{{ site.footer-links.youtube }}" target="social">
				<i class="fa fa-youtube-play"></i>
			</a>
		</li>
	{% endif %}
	{% if site.footer-links.googleplus %}
		<li>
			<a href="https://plus.google.com/{{ site.footer-links.googleplus }}" target="social">
				<i class="fa fa-google-plus fa-2x"></i>
			</a>
		</li>
	{% endif %}
</ul>
