.menu {
	margin: 2em 0;

	li a {
		background: $gradient;
		font-family: $heading-font;
		font-size: 24px;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		i.fa {
			color: $acent;
		}

		&:hover {
			text-decoration: none;
		}
	}
}