.post-list {
  .post {
    h3 {
      border-bottom: 2px solid;
      border-image: linear-gradient(to right, #aeea00 30%, rgba(174, 234, 0, 0) 30%) 1;
    }
    ul li {
      color: $teal;
      font-size: $font-size-base;

      .fa {
        color: $teal;
      }
    }
  }
}

.col-sm-4.side-wrapper {
    height: 100vh;
    box-shadow: 6px 6px 14px;
}
