// 
// Variables file
// 

// Cloud Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oxygen');

$teal: #009288;
$acent: #aeea00;
$gray: #9e9e9e;

$heading-font: 'Oxygen';
$base-font: 'Open Sans';
$font-size-base: 16px;

$gradient: -webkit-linear-gradient(130deg, $teal, $acent);