<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <!-- img -->
            </div>
            <div class="col-sm-7">
                {% include menu.html %}
                <div class="row">
                    <div class="col-sm-12">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="wrapper-masthead">
    <div class="container">
        <div class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}"/></a>

            <div class="site-info">
                <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
                <p class="site-description">{{ site.description }}</p>
            </div>

            <nav>
                <a href="{{ site.baseurl }}/">Blog</a>
                <a href="{{ site.baseurl }}/whoami">.About Me</a>
            </nav>
        </div>
    </div>
</div>

<div id="main" role="main" class="container">
    {{ content }}
</div>

<!--<div class="wrapper-footer">-->
    <!--<div class="container">-->
        <!--<footer class="footer">-->
            <!--{% include svg-icons.html %}-->
        <!--</footer>-->
    <!--</div>-->
<!--</div>-->

{% include analytics.html %}
</body>
</html>
